name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Run Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
          # enable cache to speed up builds
          cache-enabled: true

      - name: Upload build artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: originascendants-jar
          path: build/libs/*.jar
          retention-days: 7
